header#masthead
{
   display: none;
   /*height: 150px;
   background-color: #9af;*/
}

header h1 {
    display: none;
}

header h4 {
    display: none;
}

html {
    height: 100%;
}

body {
  background: #f9f9f9 url('/site_media/img/grain.png') repeat;
  height: 100%;
}

body > .container {
  background-color: #fff;
  min-height: 100%;
}

p {
  margin: 0 0 15px 0;
}

#content {
  min-height: 100%;
}

.navbar-top {
  margin-bottom: 0px;
}

/* #primarynav .navbar-inner {
    background-color: blue;
    background-image: none;
}

#primarynav li.active a {
    background-color: #8ae;
    color: black;
}

#primarynav a {
  color: white;
    background-color: #679;
}

#primarynav a:hover {
  color: blue;
} */

.pagetitle {
    margin: 0;
    padding: 10px 0 50px 0;
    font-weight: normal;
    font-size: 40px;
}

.flatpagetitle {
    margin: 0;
    padding: 30px 0 50px 0;
    font-weight: normal;
    font-size: 40px;
}

.visualclear {
    margin: 0;
    padding: 0;
    border: 0;
    clear: both;
}

.visualclear-bottom {
    margin: 0;
    padding: 0;
    border: 0;
    clear: both;
    height: 40px;
}

.container-fluid {
    padding-left: 40px;
    padding-right: 40px;
}

.admin-sign {
    margin: 0;
    padding: 0;
    border: 0;
    float: right;
    z-index: 0;
    color: #99CCFF;
    font-weight: normal;
    font-size: 60px;
    opacity: 0.3;
    filter: alpha(opacity=30);
    -moz-opacity:0.3;
}


/*--------------------------------------------------
    Sidebar Menu
  --------------------------------------------------*/

#sidebar div.active {
}

#sidebar div.regular {
}

#sidebar div.locked {
    color: lightgray;
}



/*--------------------------------------------------
    Instructor View Responses
  --------------------------------------------------*/

.responses-table {
    margin: 0 0 20px 0;
    padding: 0;
    border: 0;
    border: 1px solid #9cf;
    border-top: 3px solid #9cf;
    width: 99%;
    -webkit-border-radius: 6px !important;
       -moz-border-radius: 6px !important;
            border-radius: 6px !important;
}

.responses-table table {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

.responses-table .column1 {
    margin: 0;
    padding: 5px;
    border: 0;
    width: 70%;
}

.responses-table .column2 {
    margin: 0;
    padding: 5px;
    border: 0;
    width: 30%;
}

.responses-table td {
    margin: 0;
    padding: 5px;
    border: 0;
}

.responses-table tr.odd {
    background-color: #f3f6fa;
}

.responses-table .submissiontitle {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
}

.responses-table .submissionheader {
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    color: #666;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left bottom, right bottom, from(#cccccc), to(#efefef));
    
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(bottom, #efefef, #cccccc);
    
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(bottom, #efefef, #cccccc);
    
    /* IE 10 */
    background: -ms-linear-gradient(bottom, #efefef, #cccccc);
    
    /* Opera 11.10+ */
    background: -o-linear-gradient(bottom, #efefef, #cccccc);
    /* display: none; temporary */
 }

.responses-table .submissionheader .column1 {
    border-right: 1px solid #ccc;
}

.responses-table .submissionheader .column2 {
    border-left: 1px solid #fff;
}
/*--------------------------------------------------
    Searchable Educator Map
  --------------------------------------------------*/
  
div.map-container div.search {
    float: left;
    width: 30%;
}

div.map-container div.search .accordion-heading {
    background-color: #efefef;
}

div.map-container div.search .accordion-body {
    margin-left: 20px;
}

div.map-container div.search .accordion-body input[type="radio"],
div.map-container div.search .accordion-body input[type="checkbox"] {
    margin: 1px 0 0;
}

div.map-container ul.breadcrumb {
    padding: 0;
    margin: -5px 0 10px;
    background-color: white;
}

div.map-container ul.breadcrumb li a {
    color: #3E6D8E;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
    padding: 3px 15px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 90%;
    line-height: 2.6;
    white-space: nowrap;
    background: #E0EAF1 url('/site_media/img/remove_criteria.png') no-repeat right center;    
}

div.map-container ul.breadcrumb li a:hover {
    background-color: #c4dae9;
    border-bottom: 1px solid #c4dae9;
    border-right: 1px solid #c4dae9;
    text-decoration: none;
}

div.map-container div.map {
    float: right;
    width: 68%;
}

#map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.map-container h4 {
    margin: 0;
    padding: 30px 0 10px;
    border: 0;
    font-weight: normal;
    font-size: 18px;
}

div.educator-infowindow {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

div.educator-infowindow div.educator-headshot {
    float: left;
}

div.educator-infowindow div.educator-info {
    width: auto;
    margin-left: 95px;
}

div.educator-info div.educator-name {
    font-weight: bold;
    font-size: 14px; 
    line-height: 120%;
    margin-bottom: 10px;
}


div.educator-bio-summary {
    font-size: 12px; 
    line-height: 120%;
    line-height: 120%;
    margin-bottom: 10px;
}


div.educator-infowindow .headshot-thumb {
    width: 75px;
}


/*--------------------------------------------------
    Dental Educator Profile Page
  --------------------------------------------------*/
  
div.profile-container {
    padding-top: 20px;
    position: relative;
}

div.profile-container div.educator-headshot {
    position: absolute;
    top: 20px;
    left: 0;
}

div.profile-container div.educator-headshot img {
    width: 100px;
}

div.profile-container div.educator-info {
    width: auto;
    margin-left: 150px;
}

div.profile-container div.educator-name {
    font-weight: normal;
    font-size: 26px; 
    line-height: 120%;
    margin-bottom: 30px;
    margin-left: 150px;
}

div.profile-container .headshot-thumb {
    width: 200px;
}

div.profile-container .info-field {
    margin: 0 0 20px 0;
    padding: 0;
}

div.profile-container .info-field .info-heading {
    font-weight: bold;
    font-size: 14px; 
    line-height: 120%;
    margin-bottom: 5px;
    float: left;
    width: 200px;
    padding-right: 10px;
    text-align: right;
}

div.profile-container .info-field .info-content {
    font-weight: normal;
    line-height: 120%;
    font-size: 14px; 
    margin-bottom: 5px;
    float: left;
    width: 450px;
}

.map_back_nav {
    margin-left: 150px;
    margin-bottom: 30px;
}

.map_back_nav a.pager_button,
.opening-start a.pager_button
{
  padding: 5px 14px;
  background-color: #99ccff;
  border: 0;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

.map_back_nav a.pager_button,
.opening-start a.pager_button {
    color: #006699;
}

.map_back_nav a.pager_button:hover,
.opening-start a.pager_button:hover {
  text-decoration: none;
  background-color: #e0e0e0;
  color: #666666  !important;
}

.map_back_nav div.pager_button:hover {
  text-decoration: none;
  background-color: #e0e0e0;
}

.opening-start {
    text-align: right;
    padding-top: 30px;
}

.opening-start a.pager_button {
  padding: 10px 28px;
  font-size: 16px;
}


/*--------------------------------------------------
    Teach Dentistry CSS
  --------------------------------------------------*/
#outer-container {
    position: relative;
    box-shadow: 0px 0px 8px #888888;
    padding: 0;
}

#site-header {
    margin: 0 auto 0 auto;
    padding: 15px 0;
    border: 0;
}

#site-header {
    width: 940px;
    height: 60px;
}

.print-block {
  display: none;
}

#logo-project {
    float: left;
    width: 270px;
    height: 60px;
    margin: 0;
    padding: 0;
    border: 0;
    background: url('/site_media/img/logo_project_sprite.png') 0 0 no-repeat;
}

#logo-project a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: block;
    width: 100%;
    height: 100%;
}

#sitewide-pages {
    margin: 0;
    padding: 0;
    border: 0;
    float: right;
    list-style: none;
    font-size: 12px;
    color: #666;
}

#sitewide-pages li {
    display: block;
    float: left;
    margin: 0 0 0 10px;
    padding: 5px;
    border:  0;
}

#sitewide-pages li.flatpages a {
    display: block;
    color: #666;
    text-decoration: none;
    outline: 0;
}

#sitewide-pages li.flatpages a:hover {
    color: #000;
    text-decoration: none;
    outline: 0;
}

#sitewide-pages li#user-status {
    border-right: 1px solid #999;
    padding-right: 15px;
}

footer {
    margin: 0 auto 0 auto;
    padding: 0;
    border: 0;
    text-align: center;
}

footer {
    width: 940px;
    height: 100px;
}

footer a {
    margin: 0;
    border: 0;
    outline: 0;
}

footer img {
    padding: 5px 20px;
    margin: 0;
    border: 0;
    outline: 0;
}

h2.tab-header {
    padding: 30px 0 30px 0;
    margin: 0;
    font-size: 36px;
    font-weight: normal;
}

.ui-tabs-vertical { width: auto; }

.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 300px;
    font-size: 20px;
    list-style: none;
    margin: 0;
    padding: 0 0 0 20px;
}

.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    margin-bottom: 10px;
}

.ui-tabs-vertical .ui-tabs-nav li span.pointer { display: none; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active span.pointer { display: inline; }

.ui-tabs-vertical .ui-tabs-nav li a {
    padding: 6px 0;
    display: block;
    text-decoration: none;
}

.ui-tabs-vertical a:active, .ui-tabs-vertical a:focus {
    border: none;
    outline: 0;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a { color: #000; }

.ui-tabs-vertical .ui-tabs-panel {
    padding: 0 0 0 10px;
    float: left;
    width: 530px;
}

.index-tabs {
    margin: 0;
    padding: 0;
    border: 0;
}

.index-tabs .item-tab {
    margin: 0 0 30px 0;
    padding: 0;
    border: 0;
}

.ui-tabs-vertical .ui-tabs-panel h2,
.index-tabs .item-tab h2 {
    padding: 0 0 0px 0;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    color: #666;
}

.ui-tabs-vertical .ui-tabs-panel p,
.index-tabs .item-tab p {
    font-size: 16px;
    line-height: 150%;
    font-weight: normal;
}

.video-placeholder {
    width: 480px;
    height: 270px;
    background-color: #ccc;
}

.opening-text {
    font-size: 16px;
    line-height: 150%;
    font-weight: normal;
}

/*--------------------------------------------------
    Section Navigation (Default)
  --------------------------------------------------*/

#primarynav {
    width: 918px;
    margin: -7px auto 0 auto;
    padding: 6px 0 0 0;
    border: 0;
    z-index: 100;
    /* background: url('/site_media/img/bg_section_nav_top_tl.png') 0px 0px no-repeat;*/
}

#primarynav-inner {
    height: 110px;
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 0;
    background-color: #bed4e9;
    box-shadow: 1px 1px 3px #999;
    -webkit-border-bottom-right-radius: 6px;
       -moz-border-bottom-right-radius: 6px;
            border-bottom-right-radius: 6px;
    /* background: #e1e9f1 url('/site_media/img/bg_section_nav_tl.png') 0px 0px repeat-y; */
}

.section-nav-tab {
    width: 140px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    -webkit-border-bottom-right-radius: 6px;
       -moz-border-bottom-right-radius: 6px;
            border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
       -moz-border-bottom-left-radius: 6px;
            border-bottom-left-radius: 6px;
    background-color: #6699cc;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#99ccff), to(#6699cc));
    
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #6699cc, #99ccff);
    
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #6699cc, #99ccff);
    
    /* IE 10 */
    background: -ms-linear-gradient(left, #6699cc, #99ccff);
    
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #6699cc, #99ccff);
    /* display: none; temporary */
}

.section-nav-tab-inner {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0 0 0 8px;
    border: 0;
    background: url('/site_media/img/white-arrow.png') no-repeat 80px -45px;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
}

.section-nav-tab .active {
    background-position: 80px 15px;
}

#section-items {
    margin: 0 auto;
    padding: 10px 0 0 0;
    border: 0;
    list-style: none;
}

.section-item {
    display: block;
    float: left;
    width: 70px;
    height: 94px;
    margin: 0 15px;
    padding: 0;
    cursor: pointer;
}

.section-item .section-icon {
    display: block;
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;
    background-color: #000;
}

.section-item .section-icon:hover {
    box-shadow: 0px 0px 6px #000;
}

.section-item .section-title {
    display: block;
    margin: 2px 0 0 0;
    padding: 0;
    width: 72px;
    font-size: 11px;
    color: #000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#section-items .active .section-icon {
    box-shadow: 0px 0px 10px #f00;
    border: 1px solid #ff9933;
}

#section-items .active .section-title {
    color: #cc3333;
    font-weight: bold;
}

.section-item .completed, .section-icon-home  .section-icon {
    border-color: #6699cc;
}

.section-item .inprogress {
    border-color: #999;
}

.section-item .locked {
    border-color: #999;
    cursor: default;
}

.section-thumbnail {
    margin-top: 20px;
    height: 40px;
}

.section-thumbnail .section-slug {
    margin: 0 10px 0 0;
    width: 40px;
    height: 40px;
    float: left;
}

.section-thumbnail h3 {
    font-weight: normal;
    font-size: 20px;
    float: left;
    padding: 0;
    margin: 0;
}

.section-icon-home {
    margin-left: 23px;   
}

.thumbnail-intro {background: url('/site_media/img/section_thumbnail.png') -42px 0px no-repeat;}
.thumbnail-tracks {background: url('/site_media/img/section_thumbnail.png') -84px 0px no-repeat;}
.thumbnail-focus {background: url('/site_media/img/section_thumbnail.png') -126px 0px no-repeat;}
.thumbnail-impact {background: url('/site_media/img/section_thumbnail.png') -168px 0px no-repeat;}
.thumbnail-concerns {background: url('/site_media/img/section_thumbnail.png') -210px 0px no-repeat;}
.thumbnail-settings {background: url('/site_media/img/section_thumbnail.png') -252px 0px no-repeat;}
.thumbnail-map {background: url('/site_media/img/section_thumbnail.png') -294px 0px no-repeat;}
.thumbnail-ce {background: url('/site_media/img/section_thumbnail.png') -336px 0px no-repeat;}

.section-icon-home .section-icon { background: url('/site_media/img/section_icon_home.png') -115px -15px no-repeat; }
.section-icon-intro .completed { background: url('/site_media/img/section_icon_intro.png') -115px -15px no-repeat; }
.section-icon-intro .inprogress { background: url('/site_media/img/section_icon_intro.png') -115px -115px no-repeat; }
.section-icon-intro .locked { background: url('/site_media/img/section_icon_intro.png') -115px -215px no-repeat; }
.section-icon-tracks .completed { background: url('/site_media/img/section_icon_tracks.png') -115px -15px no-repeat; }
.section-icon-tracks .inprogress { background: url('/site_media/img/section_icon_tracks.png') -115px -115px no-repeat; }
.section-icon-tracks .locked { background: url('/site_media/img/section_icon_tracks.png') -115px -215px no-repeat; }
.section-icon-focus .completed { background: url('/site_media/img/section_icon_focus.png') -115px -15px no-repeat; }
.section-icon-focus .inprogress { background: url('/site_media/img/section_icon_focus.png') -115px -115px no-repeat; }
.section-icon-focus .locked { background: url('/site_media/img/section_icon_focus.png') -115px -215px no-repeat; }
.section-icon-impact .completed { background: url('/site_media/img/section_icon_impact.png') -115px -15px no-repeat; }
.section-icon-impact .inprogress { background: url('/site_media/img/section_icon_impact.png') -115px -115px no-repeat; }
.section-icon-impact .locked { background: url('/site_media/img/section_icon_impact.png') -115px -215px no-repeat; }
.section-icon-concerns .completed { background: url('/site_media/img/section_icon_concerns.png') -115px -15px no-repeat; }
.section-icon-concerns .inprogress { background: url('/site_media/img/section_icon_concerns.png') -115px -115px no-repeat; }
.section-icon-concerns .locked { background: url('/site_media/img/section_icon_concerns.png') -115px -215px no-repeat; }
.section-icon-settings .completed { background: url('/site_media/img/section_icon_settings.png') -115px -15px no-repeat; }
.section-icon-settings .inprogress { background: url('/site_media/img/section_icon_settings.png') -115px -115px no-repeat; }
.section-icon-settings .locked { background: url('/site_media/img/section_icon_settings.png') -115px -215px no-repeat; }
.section-icon-map .completed { background: url('/site_media/img/section_icon_map.png') -115px -15px no-repeat; }
.section-icon-map .inprogress { background: url('/site_media/img/section_icon_map.png') -115px -115px no-repeat; }
.section-icon-map .locked { background: url('/site_media/img/section_icon_map.png') -115px -215px no-repeat; }
.section-icon-ce .completed { background: url('/site_media/img/section_icon_ce.png') -115px -15px no-repeat; }
.section-icon-ce .inprogress { background: url('/site_media/img/section_icon_ce.png') -115px -115px no-repeat; }
.section-icon-ce .locked { background: url('/site_media/img/section_icon_ce.png') -115px -215px no-repeat; }


/*--------------------------------------------------
    Home page slide show and login
  --------------------------------------------------*/

#invitation {
    position: relative;
    overflow: hidden;
    display: block;
    height: 250px;
    width: auto;
    margin: 20px;
    padding: 0;
    border: 0;
    border: 1px solid #efefef;
    background-color: #999;
}

#TDCarousel {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0px;
    z-index: 0;
}

.text-content {
    width: auto;
    font: 20px normal "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-shadow: 2px 2px 10px #000000;
    margin: 0px;
    padding: 0px;
    z-index: 100;
}

.add-box-shadow {
    box-shadow: 1px 1px 8px #000000;
}

.text-content h2 {
    margin: 0px;
    padding: 0px 0px 10px 0px;
    border: 0;
    line-height: 100%;
    font-weight: normal;
    font-size: 36px;
}

#invitation #phrase1 {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 100;
 }

#invitation #phrase2 {
    position: absolute;
    left: 10px;
    bottom: 15px;
    font-size: 24px;
    line-height: 130%;
    z-index: 100;
}

#invitation #login {
    position: absolute;
    right: 140px;
    bottom: 20px;
    z-index: 100;
}

#invitation #signup {
    position: absolute;
    right: 30px;
    bottom: 20px;
    z-index: 100;
}

#invitation #signup a:focus {
    outline: 0;
}

#invitation #login-overlay {
    position: relative;
    height: 100%;
    width: auto;
    background-color: #333;
    z-index: 200;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -moz-opacity:0.9;
}

.gradient-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 50;
    height: 200px;
    background: url('/site_media/img/bg_gradient_overlay.png') 0 0 repeat-x;
    width: 100%;
}


#invitation .login-set {
    display: none;
}

#invitation .well {margin: 0; padding: 0;}

#login-window {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 130px;
    width: 480px;
    height: 210px;
    margin: 0px;
    padding: 10px !important;
    background-color: #fff;
    z-index: 300;
}

#login-window #login-form {
    position: relative;
    margin-top: 40px;
    width: 480px;
    height: 170px;
}

#login-form form {
    margin: 0px;
    padding: 0;
    border: 0;
}

#login-form form label {
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;
    line-height: 16px;
}

#login-form .forgot-password {
    font-size: 14px;
    font-weight: normal;
    margin-left: 30px;
    width: 300px;
}

#login-form #td_login {
    position: absolute;
    bottom: 1px;
    right: -1px;
}

#login-window #close-login {
  font-weight: bold;
  color: #999;
  font-size: 16px;
}




/* VIDEO DISPLAY */

/* default */

.video-display {
    background-color: #d8e4ee;
    margin: 5px 0;
    padding: 6px;
    height: 296px;
    -webkit-border-radius: 6px !important;
       -moz-border-radius: 6px !important;
            border-radius: 6px !important;
}

.video-display h4 {
    margin: 0;
    padding: 10px 0 0 0;
    border: 0;
    border-bottom: 1px solid #fff;
    width: 340px;
    height: 60px;
    margin-left: 500px;
    font: 18px normal "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #006699;
}

.video-display h4:before {
    content: "“"; /* 1 */
}

.video-display h4:after {
    content: "”"; /* 1 */
}

.video-display iframe {
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    margin-top: -70px;
}

.video-display p {
    margin: 0;
    padding: 20px 0 0 0;
    border: 0;
    border-top: 1px solid #ccc;
    margin-left: 500px;
    width: 340px;
}

.video-display .download-transcript {
    color: inherit;
    text-decoration: none;
    margin-top: 10px;
}

.promo-video {
    float: right;
    padding-left: 20px !important;
}

.promo-video iframe {
    border: 1px solid #ccc;
    padding: 0;
}

/*--------------------------------------------------
    Bootstrap Responsive Addition
  --------------------------------------------------*/

/*----------------- Large desktop ------------------*/
@media (min-width: 1200px) {
    #site-header {
        width: 1170px;
        height: 77px;
    }
    #logo-project {
        width: 350px;
        height: 77px;
        background-position: -280px 0;
    }
    #primarynav {
        width: 1143px;
        /* background: url('/site_media/img/bg_section_nav_top_d.png') 0px 0px no-repeat; */
    }
    #primarynav-inner {
        height: 130px;
        /* background: #cfddeb url('/site_media/img/bg_section_nav_d.png') 0px 0px repeat-y; */
    }
    footer {
       width: 1170px;
    }
    .section-nav-tab {
        width: 170px;
    }
    .section-nav-tab-inner {
        padding: 0 0 0 8px;
        background-position: 80px -45px;
    }
    .section-nav-tab .active {
        background-position: 80px 15px;
    }
    .section-item {
        width: 90px;
        height: 114px;
        margin: 0 17px;
    }
    .section-item .section-icon {
        width: 90px;
        height: 90px;
    }
    .section-item .section-title {
        width: 92px;
    }
    .section-thumbnail .section-icon {
        width: 160px;
        height: 160px;
        background-position: 5px 5px;
    }
    .section-icon-home .section-icon { background-position: -5px -5px; }
    .section-icon-intro .completed { background-position: -5px -5px; }
    .section-icon-intro .inprogress { background-position: -5px -105px; }
    .section-icon-intro .locked { background-position: -5px -205px; }
    .section-icon-tracks .completed { background-position: -5px -5px; }
    .section-icon-tracks .inprogress { background-position: -5px -105px; }
    .section-icon-tracks .locked { background-position: -5px -205px; }
    .section-icon-focus .completed { background-position: -5px -5px; }
    .section-icon-focus .inprogress { background-position: -5px -105px; }
    .section-icon-focus .locked { background-position: -5px -205px; }
    .section-icon-impact .completed { background-position: -5px -5px; }
    .section-icon-impact .inprogress { background-position: -5px -105px; }
    .section-icon-impact .locked { background-position: -5px -205px; }
    .section-icon-concerns .completed { background-position: -5px -5px; }
    .section-icon-concerns .inprogress { background-position: -5px -105px; }
    .section-icon-concerns .locked { background-position: -5px -205px; }
    .section-icon-settings .completed { background-position: -5px -5px; }
    .section-icon-settings .inprogress { background-position: -5px -105px; }
    .section-icon-settings .locked { background-position: -5px -205px; }
    .section-icon-map .completed { background-position: -5px -5px; }
    .section-icon-map .inprogress { background-position: -5px -105px; }
    .section-icon-map .locked { background-position: -5px -205px; }
    .section-icon-ce .completed { background-position: -5px -5px; }
    .section-icon-ce .inprogress { background-position: -5px -105px; }
    .section-icon-ce .locked { background-position: -5px -205px; }
    .ui-tabs-vertical .ui-tabs-panel {
        width: 760px;
    }
    div.profile-container .headshot-thumb {
        width: 260px;
    }
    div.profile-container div.educator-info {
        width: auto;
    }
    div.profile-container .info-field .info-content {
        width: 500px;
    }
    .video-display h4 {
        width: 550px;
        height: 30px;
    }
    .video-display iframe {
        margin-top: -40px;
    }
    .video-display p {
        width: 550px;
    }
}

/*---- Portrait tablet to landscape and desktop ----*/
@media (min-width: 768px) and (max-width: 979px) {
    #site-header {
        width: 724px;
    }
    #primarynav {
        width: 702px;
        /*background: url('/site_media/img/bg_section_nav_top_tp.png') 0px 0px no-repeat;*/
    }
    #primarynav-inner {
        height: 100px;
        /*background: #cfddeb url('/site_media/img/bg_section_nav_tp.png') 0px 0px repeat-y;*/
    }
    footer {
       width: 724px;
    }
    .section-nav-tab {
        width: 107px;
    }
    .section-nav-tab-inner {
        padding: 0 0 0 2px;
        background-position: 62px -45px;
        font-size: 12px;
    }
    .section-nav-tab .active {
        background-position: 62px 15px;
    }
    .section-item {
        width: 60px;
        height: 84px;
        margin: 0 8px;
    }
    .section-item .section-icon {
        width: 60px;
        height: 60px;
    }
    .section-item .section-title {
        width: 62px;
    }
    .section-thumbnail .section-icon {
        width: 98px;
        height: 98px;
        background-position: -285px -26px;
    }
    .section-icon-home .section-icon { background-position: -220px -20px; }
    .section-icon-intro .completed { background-position: -220px -20px; }
    .section-icon-intro .inprogress { background-position: -220px -120px; }
    .section-icon-intro .locked { background-position: -220px -220px; }
    .section-icon-tracks .completed { background-position: -220px -20px; }
    .section-icon-tracks .inprogress { background-position: -220px -120px; }
    .section-icon-tracks .locked { background-position: -220px -220px; }
    .section-icon-focus .completed { background-position: -220px -20px; }
    .section-icon-focus .inprogress { background-position: -220px -120px; }
    .section-icon-focus .locked { background-position: -220px -220px; }
    .section-icon-impact .completed { background-position: -220px -20px; }
    .section-icon-impact .inprogress { background-position: -220px -120px; }
    .section-icon-impact .locked { background-position: -220px -220px; }
    .section-icon-concerns .completed { background-position: -220px -20px; }
    .section-icon-concerns .inprogress { background-position: -220px -120px; }
    .section-icon-concerns .locked { background-position: -220px -220px; }
    .section-icon-settings .completed { background-position: -220px -20px; }
    .section-icon-settings .inprogress { background-position: -220px -120px; }
    .section-icon-settings .locked { background-position: -220px -220px; }
    .section-icon-map .completed { background-position: -220px -20px; }
    .section-icon-map .inprogress { background-position: -220px -120px; }
    .section-icon-map .locked { background-position: -220px -220px; }
    .section-icon-ce .completed { background-position: -220px -20px; }
    .section-icon-ce .inprogress { background-position: -220px -120px; }
    .section-icon-ce .locked { background-position: -220px -220px; }
    .ui-tabs-vertical .ui-tabs-nav {
        float: left;
        width: 194px;
        font-size: 14px;
        list-style: none;
        margin: 0;
        padding: 0px;
    }
    .ui-tabs-vertical .ui-tabs-panel {
        width: 480px;
    }
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
    div.profile-container .headshot-thumb {
        width: 150px;
    }
    div.profile-container div.educator-info {
        width: auto;
    }
    div.profile-container .info-field .info-content {
        width: 320px;
    }
    #invitation #phrase2 {
        width: 400px;
    }
    .video-display {
        width: 480px;
        display: block;
        height: auto;
    }
    .video-display h4 {
        width: auto;
        height: auto;
        margin-left: 0;
    }
    .video-display iframe {
        margin-top: 0;
        float: none;
    }
    .video-display p {
        margin-left: 0;
        width: auto;
    }
    .promo-video {
        float: none !important;
        padding-left: 0px !important;
    }
}

/*------- Landscape phone to portrait tablet -------*/
@media (max-width: 767px) {
    body {
        padding-right: 5px;
        padding-left: 5px;
    }
    #site-header, .container {
        width: 724px;
    }
    #primarynav {
        width: 702px;
        /*background: url('/site_media/img/bg_section_nav_top_tp.png') 0px 0px no-repeat;*/
    }
    #primarynav-inner {
        height: 100px;
        /*background: #cfddeb url('/site_media/img/bg_section_nav_tp.png') 0px 0px repeat-y;*/
    }
    footer {
       width: 724px;
    }
    .section-nav-tab {
        width: 107px;
    }
    .section-nav-tab-inner {
        padding: 0 0 0 2px;
        background-position: 62px -45px;
        font-size: 12px;
    }
    .section-nav-tab .active {
        background-position: 62px 15px;
    }
    .section-item {
        width: 60px;
        height: 84px;
        margin: 0 8px;
    }
    .section-item .section-icon {
        width: 60px;
        height: 60px;
    }
    .section-item .section-title {
        width: 62px;
    }
    .section-thumbnail .section-icon {
        width: 98px;
        height: 98px;
        background-position: -285px -26px;
    }
    .section-icon-home .section-icon { background-position: -220px -20px; }
    .section-icon-intro .completed { background-position: -220px -20px; }
    .section-icon-intro .inprogress { background-position: -220px -120px; }
    .section-icon-intro .locked { background-position: -220px -220px; }
    .section-icon-tracks .completed { background-position: -220px -20px; }
    .section-icon-tracks .inprogress { background-position: -220px -120px; }
    .section-icon-tracks .locked { background-position: -220px -220px; }
    .section-icon-focus .completed { background-position: -220px -20px; }
    .section-icon-focus .inprogress { background-position: -220px -120px; }
    .section-icon-focus .locked { background-position: -220px -220px; }
    .section-icon-impact .completed { background-position: -220px -20px; }
    .section-icon-impact .inprogress { background-position: -220px -120px; }
    .section-icon-impact .locked { background-position: -220px -220px; }
    .section-icon-concerns .completed { background-position: -220px -20px; }
    .section-icon-concerns .inprogress { background-position: -220px -120px; }
    .section-icon-concerns .locked { background-position: -220px -220px; }
    .section-icon-settings .completed { background-position: -220px -20px; }
    .section-icon-settings .inprogress { background-position: -220px -120px; }
    .section-icon-settings .locked { background-position: -220px -220px; }
    .section-icon-map .completed { background-position: -220px -20px; }
    .section-icon-map .inprogress { background-position: -220px -120px; }
    .section-icon-map .locked { background-position: -220px -220px; }
    .section-icon-ce .completed { background-position: -220px -20px; }
    .section-icon-ce .inprogress { background-position: -220px -120px; }
    .section-icon-ce .locked { background-position: -220px -220px; }
    .ui-tabs-vertical .ui-tabs-nav {
        float: left;
        width: 194px;
        font-size: 14px;
        list-style: none;
        margin: 0;
        padding: 0px;
    }
    .ui-tabs-vertical .ui-tabs-panel {
        width: 480px;
    }
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
    #outer-container {
        box-shadow: none;
    }
    div.profile-container .headshot-thumb {
        width: 150px;
    }
    div.profile-container div.educator-info {
        width: auto;
    }
    div.profile-container .info-field .info-content {
        width: 320px;
    }
    #invitation #phrase2 {
        width: 400px;
    }
    .video-display {
        width: 480px;
        display: block;
        height: auto;
    }
    .video-display h4 {
        width: auto;
        height: auto;
        margin-left: 0;
    }
    .video-display iframe {
        margin-top: 0;
        float: none;
    }
    .video-display p {
        margin-left: 0;
        width: auto;
    }    
    .promo-video {
        float: none !important;
        padding-left: 0px !important;
    }
}

/*----------- Landscape phones and down ------------*/
@media (max-width: 480px) {
    body {
        padding-right: 5px;
        padding-left: 5px;
    }
    #site-header, .container {
        width: 724px;
    }
    #primarynav {
        width: 702px;
        /*background: url('/site_media/img/bg_section_nav_top_tp.png') 0px 0px no-repeat;*/
    }
    #primarynav-inner {
        height: 100px;
        /*background: #cfddeb url('/site_media/img/bg_section_nav_tp.png') 0px 0px repeat-y;*/
    }
    footer {
       width: 724px;
    }
    .section-nav-tab {
        width: 107px;
    }
    .section-nav-tab-inner {
        padding: 0 0 0 2px;
        background-position: 62px -45px;
        font-size: 12px;
    }
    .section-nav-tab .active {
        background-position: 62px 15px;
    }
    .section-item {
        width: 60px;
        height: 84px;
        margin: 0 8px;
    }
    .section-item .section-icon {
        width: 60px;
        height: 60px;
    }
    .section-item .section-title {
        width: 62px;
    }
    .section-thumbnail .section-icon {
        width: 98px;
        height: 98px;
        background-position: -285px -26px;
    }
    .section-icon-home .section-icon { background-position: -220px -20px; }
    .section-icon-intro .completed { background-position: -220px -20px; }
    .section-icon-intro .inprogress { background-position: -220px -120px; }
    .section-icon-intro .locked { background-position: -220px -220px; }
    .section-icon-tracks .completed { background-position: -220px -20px; }
    .section-icon-tracks .inprogress { background-position: -220px -120px; }
    .section-icon-tracks .locked { background-position: -220px -220px; }
    .section-icon-focus .completed { background-position: -220px -20px; }
    .section-icon-focus .inprogress { background-position: -220px -120px; }
    .section-icon-focus .locked { background-position: -220px -220px; }
    .section-icon-impact .completed { background-position: -220px -20px; }
    .section-icon-impact .inprogress { background-position: -220px -120px; }
    .section-icon-impact .locked { background-position: -220px -220px; }
    .section-icon-concerns .completed { background-position: -220px -20px; }
    .section-icon-concerns .inprogress { background-position: -220px -120px; }
    .section-icon-concerns .locked { background-position: -220px -220px; }
    .section-icon-settings .completed { background-position: -220px -20px; }
    .section-icon-settings .inprogress { background-position: -220px -120px; }
    .section-icon-settings .locked { background-position: -220px -220px; }
    .section-icon-map .completed { background-position: -220px -20px; }
    .section-icon-map .inprogress { background-position: -220px -120px; }
    .section-icon-map .locked { background-position: -220px -220px; }
    .section-icon-ce .completed { background-position: -220px -20px; }
    .section-icon-ce .inprogress { background-position: -220px -120px; }
    .section-icon-ce .locked { background-position: -220px -220px; }
    .ui-tabs-vertical .ui-tabs-nav {
        float: left;
        width: 194px;
        font-size: 14px;
        list-style: none;
        margin: 0;
        padding: 0px;
    }
    .ui-tabs-vertical .ui-tabs-panel {
        width: 480px;
    }
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
    #outer-container {
        box-shadow: none;
    }
    div.profile-container .headshot-thumb {
        width: 150px;
    }
    div.profile-container div.educator-info {
        width: auto;
    }
    div.profile-container .info-field .info-content {
        width: 320px;
    }
    #invitation #phrase2 {
        width: 400px;
    }
    .video-display {
        width: 480px;
        display: block;
        height: auto;
    }
    .video-display h4 {
        width: auto;
        height: auto;
        margin-left: 0;
    }
    .video-display iframe {
        margin-top: 0;
        float: none;
    }
    .video-display p {
        margin-left: 0;
        width: auto;
    }
    .promo-video {
        float: none !important;
        padding-left: 0px !important;
    }
}


/*----------- Self-ID quiz styling ------------*/

.self-id-quiz .casetitle,
.self-id-quiz p.question_text {
    display: none;
}

.self-id-quiz .question_intro_text {
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    font-size: 30px;
    color: #06c;
    font-weight: normal;
    line-height: 100%;
}

.self-id-quiz .selection {
    margin: 10px 0 10px 0;
    padding: 10px;
    border: 0;
    vertical-align: middle;
    width: 500px;
    font-size: 16px;
}

.self-id-quiz .selection:hover {
    box-shadow: 0px 0px 10px #9cf;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}

.self-id-quiz .selection input[type='radio']{
    margin: 0 10px 0 0;
    padding: 0;
    border: 1px solid #ccc;
}

.self-id-quiz .selection-block {
    margin: 0 0 0 0;
    padding: 0 0 30px 0;
    border: 0;
}

.self-id-quiz .selection-block h3 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: #666;
    font-weight: normal;
}

.self-id-quiz .selection-block h4 {
    color: #666;
    font-size: 16px;
    font-weight: bold;
}

.self-id-quiz .highlighted h3 {
    color: #06c;
    margin: 0;
    padding: 5px 0;
    margin-bottom: 10px;
    border: 0;
    border-bottom: 1px solid #9cb7ce;
    line-height: 100%;
    font-size: 24px;
}

.self-id-quiz .highlighted {
    background-color: #d8e4ee;
    padding: 10px;
    -webkit-border-radius: 6px !important;
       -moz-border-radius: 6px !important;
            border-radius: 6px !important;
}

.self-id-quiz .other-choices {
    margin: 0 0 0 0;
    padding: 0 0 30px 0;
    border: 0;
    font-size: 22px;
    color: #333;
    font-weight: normal;
}

.self-id-quiz .unselected {
    background-color: #efefef;
    margin: 0 0 20px 0;
    padding: 10px;
    -webkit-border-radius: 6px !important;
       -moz-border-radius: 6px !important;
            border-radius: 6px !important;
}

.self-id-quiz .unselected h3 {
    color: #666;
    margin: 0;
    padding: 5px 0;
    margin-bottom: 10px;
    border: 0;
    border-bottom: 1px solid #666;
    line-height: 100%;
    font-size: 24px;
}


/* pager navigation */

.content-nav
{
	margin: 50px 0;
	padding: 5px 0;
	border: 0;
	font-size: 16px;
}

.content-nav a#previous
{
	display: block;
	float: left;
	width: auto;
}

.content-nav a#next, a#next, #next
{
	display: block;
	float: right;
	width: auto;
	text-align: right;
}

.content-nav div#next
{
	display: block;
	float: right;
	width: auto;
	text-align: right;
}


.content-nav a.pager_button,
.content-nav div.pager_button
{
  padding: 10px 28px;
  background-color: #99ccff;
  border: 0;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

.content-nav div.pager_button
{
  background-color: #efefef;
  color: #999;
}

.content-nav a.pager_button {
    color: #006699;
}


.content-nav a.pager_button:hover {
  text-decoration: none;
  background-color: #e0e0e0;
  color: #666666  !important;
}


.content-nav div.pager_button:hover {
  text-decoration: none;
  background-color: #e0e0e0;
}

/* Sign up */

.signup-block {
    font-size: 16px;
}

.signup-block p {
    margin: 0;
    padding: 20px 0 0 0;
    clear: both;
}

div.p {
  margin: 0 0 15px 0;
}

.signup-block form {
    padding: 30px 0 0 0;
}

.signuptitle {
    margin: 0;
    padding: 30px 0 50px 0;
    font-weight: normal;
    font-size: 40px;
}

.signup-block label {
    margin: 0;
    padding: 0 10px 0 0;
    width: 250px;
    float: left;
    text-align: right;
}

.signup-block #id_work_description {
    width: 420px;
}

.password-reset label {
    margin: 0;
    padding: 0 10px 0 0;
    width: 60px;
    float: left;
    text-align: right;
}

.signup-block p.required label:before {
    content: "*";
    color: #c00;
    font-size: 20px;
}

.signup-block label[for=id_work_description_1],
.signup-block label[for=id_work_description_2],
.signup-block label[for=id_work_description_3],
.signup-block label[for=id_work_description_4],
.signup-block label[for=id_work_description_5],
.signup-block label[for=id_work_description_6],
.signup-block label[for=id_work_description_7],
.signup-block ul label[for=id_work_description_0]
/*.signup-block label[for=id_state],
.signup-block label[for=id_plan_to_teach],
.signup-block label[for=id_qualified_to_teach],
.signup-block label[for=id_opportunities_to_teach],
.signup-block label[for=id_possible_to_teach]*/ {
    float: none;
    width: auto;
    text-align: left;
}

.signup-block label[for=id_state] {
    margin: 0 0 15px 0;
}


.signup-block ul {
    margin: 0 0 0px 260px;
    padding: 0 0 15px 0;
    border: 0;
}

.signup-block ul li {
    list-style-type: none;
    margin: 0 0 5px 0;
}

.signup-block input[type="submit"] {
    clear: both;
    display: block;
    margin: 100px 0 0 300px;
}

.signup-block .errorlist {
    margin: 10px 0 -25px 260px;
    padding: 0;
    color: #cc0000;
    font-size: 12px;
    font-style: italic;
    list-style: none;
    line-height: 120%;
    clear: both;
    display: block;
}

.signup-block .errorlist li {
    font-size: 12px;
    font-style: italic;
    line-height: 120%;
    padding-bottom: 5px;
}

.password-reset .reset-account {
    margin-left: 70px;
}

.password-reset p label:before {
    content: "*";
    color: #c00;
    font-size: 20px;
}

.password-reset p label {
    margin: 0;
    padding: 0 10px 0 0;
    width: 250px;
    float: left;
    text-align: right;
}

.password-reset input[type="submit"] {
    clear: both;
    display: block;
    margin: 10px 0 0 300px;
}

/* ---- Registration MultiSelect Widget ------------ */

ul.multiselect-container {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 0px;
    border: 1px solid #e0e0e0;
}

ul.multiselect-container li a label.checkbox {
    float: none;
    text-align: left;
    width: default;
    padding: 0 0 0 20px;    
}

ul.multiselect-container li a label.checkbox:before {
    content: "" !important;
}

/* ---- CE Credit ------------ */

.ce-credit .cases {
    margin: -1px 0 0 0;
    border: 0;
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #ccc;
    border-collapse: collapse;
}

.ce-credit .cases .casetitle {
    display: none;
}

.ce-credit .cases .question_text {
    margin: 0;
    border: 0;
    padding: 0 0 10px 0;
}

.ce-credit .cases textarea {
    width: 90%;
}

.module-ce input[type="submit"] {
    display: block;
    width: 200px;
    margin: 20px auto;
}

.pull-right {
    margin-left: 10px;
}

.side-photo {
    display: none;
}

.caption p {
    margin: 0;
    padding: 5px;
    color: #333;
    font-style: italic;
}

/* ---- CE Credit Certificate ------------ */

.certification {
  border: 6px solid #cad6d6;
  padding: 2px;
  text-align: center;
}

#certificate {
  border: 24px solid #bed4e9;
  padding: 2px;
}

#cert-txt {
  border: 3px solid #e5efe7;
  padding: 10px;
}

.certification h2 {
  font: bold 36px Garamond, "times new roman";
  font-style: italic;
}

#cert-person, #cert-event, #cert-date {
  font-size: 20px;
  margin-top: 40px;
}

#cert-person hr {
  padding-top: 50px;
}

#cert-event h3 {
  line-height: 130%;
  margin-bottom: 20px;
}

.cert-note {
  margin-top: 40px;
  font-size: 12px;
}