header#masthead
{
	 height: 150px;
   background-color: #9af;
}

header h1 {
	display: none;
}

header h4 {
	display: none;
}

html {
	height: 100%;
}

body {
  background-color: #eee;
  height: 100%;
}

body > .container {
  background-color: #fff;
  min-height: 100%;
}

#content {
  min-height: 100%;
}

.navbar-top {
  margin-bottom: 0px;
}

#primarynav .navbar-inner {
	background-color: blue;
	background-image: none;
}

#primarynav li.active a {
	background-color: #8ae;
	color: black;
}

#primarynav a {
  color: white;
	background-color: #679;
}

#primarynav a:hover {
  color: blue;
}



/*--------------------------------------------------
    Searchable Educator Map
  --------------------------------------------------*/

div.map-container div.search {
    float: left;
    width: 30%;
}

div.map-container div.map {
    float: right;
    width: 68%;
}

#map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}