header#masthead
{
	 height: 150px;
   background-color: #9af;
}

header h1 {
	display: none;
}

header h4 {
	display: none;
}

html {
	height: 100%;
}

body {
  background-color: #fff;
  height: 100%;
}

body > .container {
  background-color: #fff;
  min-height: 100%;
}

#content {
  min-height: 100%;
}

.navbar-top {
  margin-bottom: 0px;
}

#primarynav .navbar-inner {
	background-color: blue;
	background-image: none;
}

#primarynav li.active a {
	background-color: #8ae;
	color: black;
}

#primarynav a {
  color: white;
	background-color: #679;
}

#primarynav a:hover {
  color: blue;
}

/*--------------------------------------------------
    Sidebar Menu
  --------------------------------------------------*/

#sidebar div.active {
}

#sidebar div.regular {
}

#sidebar div.locked {
    color: lightgray;
}


/*--------------------------------------------------
    Searchable Educator Map
  --------------------------------------------------*/

div.map-container div.search {
    float: left;
    width: 30%;
}

div.map-container div.map {
    float: right;
    width: 68%;
}

#map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


/*--------------------------------------------------
    Teach Dentistry CSS
  --------------------------------------------------*/

#site-header {
    margin: auto;
    padding: 0;
    border: 0;
}

#site-header {
    width: 940px;
    height: 53px;
}

#logo-project {
    width: 228px;
    height: 53px;
    background: url('/site_media/img/logo_project.png') -155px 0 no-repeat;
    float: left;
}

#user-status {
    float: right;
    padding: 0;
    border: 0;
}


/*--------------------------------------------------
    Bootstrap Responsive Addition
  --------------------------------------------------*/

@media (min-width: 1200px) {
    #site-header {
        width: 1170px;
        height: 70px;
    }
    #logo-project {
        width: 304px;
        height: 70px;
        background: url('/site_media/img/logo_project.png') -386px 0 no-repeat;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #site-header {
        width: 724px;
        height: 53px;
    }
    #logo-project {
        width: 228px;
        height: 53px;
        background: url('/site_media/img/logo_project.png') -155px 0 no-repeat;
    }
}

@media (max-width: 767px) {
    #site-header {
        width: auto;
        height: 35px;
    }
    #logo-project {
        width: 152px;
        height: 35px;
        background: url('/site_media/img/logo_project.png') 0 0 no-repeat;
    }
}


/*--------------------------------------------------
    Bootstrap Override
  --------------------------------------------------*/

