{% extends "registration/base_registration.html" %}
{% load i18n %}

{% block registration_content %}
    <p>Thank you for registering for the New York/New Jersey Aids Education Training Center's online learning center.</p>
    <p><strong>You have activated your account.</strong></p>
    <p>Please <a href="/accounts/login/?next=/">log in</a> with your user name and password.</p>
    <p>The first learning module available to you is Hepatitis C Medications and Special Considerations for People Living with HIV.</p>
{% endblock %}
