{% extends "registration/base_registration.html" %}
{% load i18n registrationform%}

{% block registration_content %}
<h2 class="pagetitle">Register</h2>Sign up for an account to use Learn.nynjaetc.org<br /><br />

<form method="post" action="." class="register">
  {{ form.as_p }}
  
  <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}" />
</form>

<p>
    If you already have a username or password, but have forgotten either,
    <a href="{% url auth_password_reset %}">reset them here</a>.
</p>
{% endblock %}


