{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} &#8226; Teach Dentistry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="teachdentistry">
    <meta name="author" content="CCNMTL">

{% compress css %}
    <link href="/site_media/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/site_media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/site_media/css/main.css" rel="stylesheet">
{% endcompress %}
    <link rel="shortcut icon" 
      type="image/png" 
      href="/site_media/img/favicon.png" />
  {% block css %}{% endblock %}

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

	{% block feeds %}{% endblock %}
</head>
<body>

    {% block topnavbar %}
    <header id="site-header">
        <div id="logo-project"><a href="/"></a></div>
        <div id="sitewide-pages"></div>
        <div id="user-status">
        {% block usernav %}
            {% if request.user.is_anonymous %}
                <a href="/accounts/login/?next=/" class="btn btn-small btn-primary">Log in</a>
            {% else %}
                Hello, {% if request.user.first_name %}{{request.user.first_name}}{% else %}{{request.user.username}}{% endif %}
                <a href="/logout/" class="btn btn-small btn-danger">Log out</a>
            {% endif %}
        {% endblock %}
        </div>
        {% block topnavbarleftitems %}{% endblock %}
        {% block topnavbarrightitems %}{% endblock %}
    </header>
    {% endblock %}


    <div class="container" id="outer-container">
        {% block masthead %}
            <header class="subhead hidden-phone" id="masthead">
                <h1><a href="./" title="teachdentistry">teachdentistry</a></h1>
                <h4 id="logo-ccnmtl">
                    <a href="http://ccnmtl.columbia.edu" target="_blank"
                        title="Columbia Center for New Media Teaching and Learning">
                        <span>Produced by the Columbia Center for New Media Teaching
                            and Learning</span>
                    </a>
                </h4>
            </header>
        
            {% block primarynav %}
                <div class="navbar" id="primarynav">
                    <div class="navbar-inner">
                        <div class="container">
                            <ul class="nav">
                                {% block primarynavtabs %}
                                    {% for section in modules %}
                                        <li class="{% ifequal section.id module.id %}active{% endifequal %}">
                                            {% if section.locked %}
                                                <a href="#"><i class="icon-lock"></i> {{section.label}}</a>
                                            {% else %}{% if section.complete %}
                                                <a href="{{section.url}}"><i class="icon-check"></i> {{section.label}}</a>
                                            {% else %}
                                                <a href="{{section.url}}"><i class="icon-time"></i> {{section.label}}</a>
                                            {% endif %}{% endif %}
                                        </li>
                                    {% endfor %}
                                {% endblock %}
                            </ul>
                            
                            <ul class="nav pull-right">
                                {% if can_edit %}
                                    {% block mode-view %}{% endblock %}                                    
                                    {% block mode-edit %}<li><a href="/edit{{section.get_absolute_url}}">Edit</a></li>{% endblock %}
                                    
                                    {% if instructor_link %}
                                        <li><a href="/instructor{{request.path}}" class="btn btn-mini btn-info">responses</a></li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endblock %}    
        {% endblock %}
    
        <div class="container-fluid" id="content">
            <div class="row-fluid">
                {% block container %}
                    <div class="span2" id="sidebar">
                        {% block sidebar %}{% endblock %}
                    </div>
                    <div class="span10" id="right-content">
                        {% block pagetitle %}{% endblock %}
                        {% block content %}{% endblock %}
                        <div class="visualclear"></div>
                        {% block content-nav %}{% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

    {% block footer %}
      <footer class="footer navbar-fixed-bottom hidden-phone">
        <img src="/site_media/img/logo_ccnmtl_sidebar.gif" class="printonly pull-right" alt="sidebar"/>
      </footer>
    {% endblock %}

    <script type="text/javascript" src="/site_media/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    
    {% compress js %}
        <script type="text/javascript" src="/site_media/bootstrap/js/bootstrap.js"></script>
    {% endcompress %}
    
    {% block js %}{% endblock %}
    
    {% if STAGING_ENV %}
        <div class="alert alert-error" style="position: fixed; bottom: 0px;">
            <h4>Warning: Staging Site</h4>
            <p>You are viewing a staging version of this site, not the production site.</p>
            <p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
        </div>
    {% endif %}
</body>
</html>
