{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} &#8226; Teach Dentistry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="teachdentistry">
    <meta name="author" content="CCNMTL">

{% compress css %}
    <link href="/site_media/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/site_media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/site_media/css/main.css" rel="stylesheet">
{% endcompress %}
    <link rel="shortcut icon" type="image/png" href="/site_media/img/favicon.png" />
  
{% block css %}{% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% block feeds %}{% endblock %}
</head>
<body>

{% block topnavbar %}
    <div id="site-header">
        <div id="logo-project"><a href="/"></a></div>
        <ul id="sitewide-pages">
        {% block usernav %}
            <li id="user-status">
            {% if request.user.is_anonymous %}
                <a href="/accounts/login/?next=/" class="btn btn-small btn-primary">Log in</a>
            {% else %}
                Hello, {% if request.user.first_name %}{{request.user.first_name}}{% else %}{{request.user.username}}{% endif %}
                <a href="/logout/" class="btn btn-mini btn-danger">Log out</a>
            {% endif %}
            </li>
        {% endblock %}
            <li class="flatpages"><a href="/pages/about/">ABOUT</a></li>
            <li class="flatpages"><a href="/pages/help/">HELP</a></li>
            <li class="flatpages"><a href="/pages/contact/">CONTACT</a></li>
        </ul>
        {% block topnavbarleftitems %}{% endblock %}
        {% block topnavbarrightitems %}{% endblock %}
    </div>
{% endblock %}


    <div class="container well" id="outer-container">
        {% block masthead %}
        <header class="subhead hidden-phone" id="masthead"></header>
        {% endblock %}
        
        {% if request.user.is_authenticated %}
        {% block primarynav %}
        <div id="primarynav">
            <div id="primarynav-inner">
                <ul id="section-items">
                    <li class="section-item section-icon-home"><a href="/" class="section-icon img-rounded"></a>
                    <a href="/" class="section-title">home</a></li>
                    {% block primarynavtabs %}
                    {% for section in modules %}
                    <li class="section-item section-icon-{{section.label|lower}} {% ifequal section.id module.id %}active{% endifequal %}">
                    <a href="{% if section.locked %}#{% else %}{{section.url}}{% endif %}" class="section-icon img-rounded {% if section.locked %}locked{% else %}{% if section.complete %}completed{% else %}inprogress{% endif %}{% endif %}"></a>
                    <a href="{% if section.locked %}#{% else %}{{section.url}}{% endif %}" class="section-title">{{section.label}}</a></li>
                    {% endfor %}
                    {% endblock %}
                </ul>
            </div>
            <div class="section-nav-tab"><div class="section-nav-tab-inner">SECTIONS</div></div>
        </div>
        {% endblock %}
        {% endif %}
        
        {% block carousel_slideshow %}
        <div class="img-rounded" id="invitation">
            <div id="TDCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item"><img src="/site_media/img/slideshow_01.jpg" /></div>
                    <div class="item"><img src="/site_media/img/slideshow_02.jpg" /></div>
                    <div class="item"><img src="/site_media/img/slideshow_03.jpg" /></div>
                    <div class="item"><img src="/site_media/img/slideshow_04.jpg" /></div>
                </div>
            </div>
            <div class="text-content" id="phrase2">
                So you want to give back?<br />
                Learn how teaching has changed other dentists’ lives.
            </div>
             {% block login_overlay %}{% endblock %}
             <div class="gradient-overlay"></div>
        </div>
        {% endblock %}
        
        <div class="container-fluid" id="content">
            <div class="row-fluid">
            {% block container %}
                {% if request.user.is_superuser %}
                <div class="span2" id="sidebar" style="background-color: #efefef;">
                Only superuser can see this side bar
                </div>
                {% endif %}
                <div class="{% if request.user.is_superuser %}span10{% else %}span12{% endif %}" id="right-content">
                    {% if can_edit %}
                    <ul class="nav nav-pills">
                        <li><a style="color: #000;"><b>Page mode:</b></a></li>
                        {% block mode-view %}<li class="active"><a>View</a></li>{% endblock %}
                        {% block mode-edit %}<li><a href="/edit{{section.get_absolute_url}}">Edit</a></li>{% endblock %}
                        {% if instructor_link %}<li><a href="/instructor{{request.path}}">Responses</a></li>{% endif %}
                    </ul>
                    <hr />
                    {% endif %}
                    {% block section_thumbnail %}{% endblock %}
                    {% block pagetitle %}{% endblock %}
                    {% block content %}{% endblock %}
                    <div class="visualclear"></div>
                    {% block content-nav %}{% endblock %}
                    <div class="visualclear-bottom"></div>
                </div>
            {% endblock %}
            </div>
        </div>
    </div>

    {% block footer %}
    <footer class="footer hidden-phone">
        <a href="http://dental.columbia.edu/" target="_blank" title="Columbia University College of Dental Medicine"><img src="/site_media/img/logo_dental_school.png" /></a>
        <a href="http://ccnmtl.columbia.edu" target="_blank" title="Columbia Center for New Media Teaching and Learning"><img src="/site_media/img/logo_ccnmtl.png" /></a>
    </footer>
    {% endblock %}

    <script type="text/javascript" src="/site_media/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    
    {% compress js %}
        <script type="text/javascript" src="/site_media/bootstrap/js/bootstrap.js"></script>
    {% endcompress %}
    
	

    {% block js %}{% endblock %}
    
    <script type="text/javascript">
    $(document).ready(function($){
        /* For Content Navigation */
        $(".section-nav-tab-inner").click(function(){
            $("#primarynav-inner").slideToggle("fast");
            $(this).toggleClass("active");
            return false;
        });
    });
    
    </script>

{% if STAGING_ENV %}
    <div class="alert alert-error" style="position: fixed; bottom: 0px;">
        <h4>Warning: Staging Site</h4>
        <p>You are viewing a staging version of this site, not the production site.</p>
        <p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
    </div>
{% endif %}
</body>
</html>
