{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} &#8226; Teach Dentistry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="teachdentistry">
    <meta name="author" content="CCNMTL">

{% compress css %}
    <link href="/site_media/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/site_media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/site_media/css/main.css" rel="stylesheet">
    <link href="/site_media/css/main-print.css" rel="stylesheet" media="print" />
{% endcompress %}
    <link rel="shortcut icon" type="image/png" href="/site_media/img/favicon.png" />
  
{% block css %}{% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% block feeds %}{% endblock %}
{% block extrahead %}{% endblock %}
</head>
<body>

{% block topnavbar %}
    <div id="site-header">
        <div id="logo-project"><a href="/"></a></div>
        <ul id="sitewide-pages">
        {% block usernav %}
            
            {% if request.user.is_anonymous %}
                <li class="flatpages"><a href="/accounts/login/?next=/"><i class="icon-home"></i> HOME</a></li>
            {% else %}
                <li id="user-status"><i class="icon-user"></i> Hello, <a href="#" id="popover-bottom" data-toggle="popover" class="user-identity">{% if request.user.first_name %}{{request.user.first_name}}{% else %}{{request.user.username}}{% endif %}</a></li> 
<div id="user-menu" style="display: none">
  <ul>
    <li><a href="/logout/">Log out</a></li>
    {% if request.user.has_usable_password %}
    <li><a href="/accounts/password/change/">Change password</a></li>
    {% endif %}
  </ul>
  {% comment %}{% if request.user.is_superuser %}
  <hr />
  <ul>
    <li><a href="/report/">Download CSV</a></li>
  </ul>
  {% endif %}{% endcomment %}
</div>
                                           
            {% endif %}
            
        {% endblock %}
            <li class="flatpages"><a href="/pages/about/">ABOUT</a></li>
            <li class="flatpages"><a href="/pages/help/">HELP & CONTACT</a></li>
        </ul>
        {% block topnavbarleftitems %}{% endblock %}
        {% block topnavbarrightitems %}{% endblock %}
    </div>
    
    <div class="print-block">
    <img src="/site_media/img/logo_project_print.png" width="200px"  />
    </div>
{% endblock %}


    <div class="container well" id="outer-container">
        {% block masthead %}
        <header class="subhead hidden-phone" id="masthead"></header>
        {% endblock %}
        
        {% if request.user.is_authenticated %}
        {% block primarynav %}
        <div id="primarynav">
            <div id="primarynav-inner">
                <ul id="section-items">
                    <li class="section-item section-icon-home"><a href="/" class="section-icon img-rounded"></a>
                    <a href="/" class="section-title">home</a></li>
                    {% block primarynavtabs %}
                    {% for section in modules %}
                    <li class="section-item section-icon-{{section.label|lower}} {% ifequal section.id module.id %}active{% endifequal %}">
                    <a href="{% if section.locked %}#{% else %}{{section.url}}{% endif %}" class="section-icon img-rounded {% if section.locked %}locked{% else %}{% if section.complete %}completed{% else %}inprogress{% endif %}{% endif %}"></a>
                    <a href="{% if section.locked %}#{% else %}{{section.url}}{% endif %}" class="section-title">{{section.label}}</a></li>
                    {% endfor %}
                    {% endblock %}
                </ul>
            </div>
            <div class="section-nav-tab"><div class="section-nav-tab-inner">SECTIONS</div></div>
        </div>
        {% endblock %}
        {% endif %}
        
        {% block carousel_slideshow %}
        <div class="img-rounded" id="invitation">
            <div id="TDCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item"><img src="/site_media/img/slideshow_01.jpg" /></div>
                    <div class="item"><img src="/site_media/img/slideshow_02.jpg" /></div>
                    <div class="item"><img src="/site_media/img/slideshow_03.jpg" /></div>
                    <div class="item"><img src="/site_media/img/slideshow_04.jpg" /></div>
                </div>
            </div>
            <div class="text-content" id="phrase2">
                So you want to give back?<br />
                Learn how teaching has changed other dentists’ lives.
            </div>
             {% block login_overlay %}{% endblock %}
             <div class="gradient-overlay"></div>
        </div>
        {% endblock %}
        
        <div class="container-fluid" id="content">
            <div class="row-fluid">
            {% block container %}
                <div class="span12" id="right-content">
                    {% if request.user.is_superuser %}
                    <div class="admin-sign">Admin</div>
                    {% endif %}
                    {% block instructor-view-responses %}{% endblock %}
                    {% if can_edit %}
                    <br />
                    <ul class="nav nav-pills">
                        <li><a style="color: #000;"><b>Page mode:</b></a></li>
                        {% block mode-view %}<li class="active"><a>View</a></li>{% endblock %}
                        {% block mode-edit %}<li><a href="/edit{{section.get_absolute_url}}">Edit</a></li>{% endblock %}
                        {% if instructor_link %}<li><a href="/instructor{{request.path}}">Responses</a></li>{% endif %}
                    </ul>
                    <hr class="screen-delim" />
                    {% endif %}
                    {% block section_thumbnail %}{% endblock %}
                    {% block pagetitle %}{% endblock %} 
                    {% block content %}{% endblock %}
                    <div class="visualclear"></div>
                    {% block content-nav %}{% endblock %}
                    <div class="visualclear-bottom"></div>
                </div>
            {% endblock %}
            </div>
        </div>
    </div>

    {% block footer %}
    <footer class="footer">
        <a href="http://dental.columbia.edu/" target="_blank" title="Columbia University College of Dental Medicine"><img src="/site_media/img/logo_dental_school.png" /></a>
        <a href="http://ccnmtl.columbia.edu" target="_blank" title="Columbia Center for New Media Teaching and Learning"><img src="/site_media/img/logo_ccnmtl.png" /></a>
    </footer>
    <footer class="print-block">
        <img src="/site_media/img/logo_dental_school.png" />
        <img src="/site_media/img/logo_ccnmtl.png" /><br />
        https://teachdentistry.org
    </footer>
    {% endblock %}

    <script type="text/javascript" src="/site_media/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    
    {% compress js %}
        <script type="text/javascript" src="/site_media/bootstrap/js/bootstrap.js"></script>
    {% endcompress %}
    
    <script type="text/javascript" >
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-311226-44', 'teachdentistry.org');
      ga('send', 'pageview');
    </script>


    {% block js %}{% endblock %}
    
    <script type="text/javascript">
    jQuery(document).ready(function(jQuery){
        /* For Content Navigation */
        jQuery(".section-nav-tab-inner").click(function(){
            jQuery("#primarynav-inner").slideToggle("fast");
            jQuery(this).toggleClass("active");
            return false;
        });
        //add popover for user menu
        jQuery("#popover-bottom").popover({
          placement: 'bottom',
          html: true,
          title: '',
          content: function() {
            return jQuery('#user-menu').html();
          }
        });
    });
    
    </script>


{% if STAGING_ENV %}
    <div class="alert alert-error" style="position: fixed; bottom: 0px;">
        <h4>Warning: Staging Site</h4>
        <p>You are viewing a staging version of this site, not the production site.</p>
        <p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
    </div>
{% endif %}
</body>
</html>
