{% extends "base_teachdentistry.html" %}
{% comment %}
###### FOR BASE TEMPLATE--
   base_three_col.html : layout is [ sidebar_left -- content -- sidebar_right ]
   base_two_col_right.html : layout is [ content -- sidebar_right ]
   base_two_col_left.html : layout is [ sidebar_left -- content ]
   base_one_col.html : layout is [ content ]
{% endcomment %}

{% block primarynav %}{% endblock %}
{% block carousel_slideshow %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block pagetitle %}<h2 class="pagetitle flatpagetitle">{{ flatpage.title }}</h2>{% endblock %}

{% load markup %}
{% load thumbnail %}

{% block title %}{{ flatpage.title }}{% endblock %}



{% block sidebarleft %}
{% endblock %}


{% block sidebarright %}
{% endblock %}


{% block content %}
{{ flatpage.content}}<!-- temporary removal of |markdown -->
{% endblock %}
