{% extends 'base_teachdentistry.html' %}
{% block title %}Welcome{% endblock %} 
{% block primarynav %}{% endblock %}

{% block content %}
<p class="opening-text">Teach Dentistry is a learning module that lets you explore the foundations of entering dental academics while charting your own path. Along the way you will be introduced to a diverse set of dentists who entered dental academics at varying points in their careers. At the conclusion of this learning exercise, you will have the opportunity to search and sort through a map of dentists working in academic settings throughout the United States.</p>


<p class="opening-start"><a class="pager_button" href="/intro/">Let’s get started! <b>&rarr;</b></a></p>

{% endblock %}








{% block js %}
<script type="text/javascript">
$(document).ready(function($){
    /* For Login page */
    $("#invitation #login").click(function(){
        $(".login-set").fadeIn("fast", "linear");
    });
    $("#login-window #close-login").click(function(){
        $(".login-set").fadeOut("fast", "linear");
    });
    $('.carousel').carousel({
        interval: 8000
    })
});
</script>
{% endblock %}