{% extends "base_teachdentistry.html" %}

{% block title %}{{section.label}} (View Responses){% endblock %}
{% block pagetitle %}<h2 class="pagetitle">{{section.label}}</h2>{% endblock %}
{% block section_thumbnail %}
<div class="section-thumbnail"><div class="section-slug thumbnail-{{module.slug}}"></div><h3>SECTION: {{module.slug|upper}}</h3></div>
{% endblock %}
{% block sidenav %}{% endblock %}


{% block carousel_slideshow %}{% endblock %}

{% block instructor-view-responses %}
<br />
<ul class="nav nav-pills">
    <li><a style="color: #000;"><b>Page mode:</b></a></li>
    <li><a href="{{section.get_absolute_url}}">View</a></li>
    <li class="active"><a >Responses</a></li>
</ul>
<hr />
{% endblock %}


{% block content %}
    {% if quizzes %}
        {% for quiz in quizzes %}
            <h3>Quiz {{quiz.id}}</h3>
            {% if quiz.submission_set.count %}
                {% for submission in quiz.submission_set.all %}
                <div class="responses-table">
                <table>
                     <tr class="submissiontitle">
                        <td class="column1"><b>Response from:</b> {{submission.user.first_name}} {{submission.user.last_name}} | <b>Username:</b> {{submission.user.username}}</td>
                        <td class="column2">{{submission.submitted}}</td>
                    </tr>
                     <tr class="submissionheader">
                        <td class="column1">Question</td>
                        <td class="column2">Response</td>
                    </tr>
                        {% for response in submission.response_set.all %}
                        <tr class="submissionresponse {% cycle 'odd' 'even' %}">
                            <td class="column1">{{response.question.ordinality}}: {{response.question.text}}</td>
                            <td class="{% if response.question.answerable %}{% if response.is_correct %}correct{% else %}incorrect{% endif %}{% endif %} column2">{{response.value}}</td>
                        </tr>
                        {% endfor %}
                </table>
                </div>
                {% endfor %}
            {% else %}
                <p>There are no responses submitted for this quiz.</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>There are no quizzes on this page.</p>
    {% endif %}
     <br style="clear:both"/>
{% endblock %}

{% block content-nav %}
    {% comment %}
    {% if section.get_previous %}
    <a href="/instructor{{section.get_previous.get_absolute_url}}" id="previous">« {{section.get_previous.label}}</a>
    {% endif %}
    
    {% if section.get_next %}
    <a href="/instructor{{section.get_next.get_absolute_url}}" id="next">{{section.get_next.label}} »</a>
    {% endif %}
    {% endcomment %}
{% endblock %}


