{% extends 'base.html' %}
{% load render %}

{% block js %}
    <script type="text/javascript" src="/site_media/js/chapter_marker_player.js"></script>
    {% for block in section.pageblock_set.all %}
        {% renderjs block %}
    {% endfor %}
{% endblock %}

{% block css %}
    {% for block in section.pageblock_set.all %}
        {% rendercss block %}
    {% endfor %}
{% endblock %}

{% block module_slug %}{{module.slug}}{% endblock %}

{% block title %}{{section.label}}{% endblock %}

{% block pagetitle %}<h2 class="pagetitle">{{section.label}}</h2>{% endblock %}

{% block sidenav %}
        <!-- ###### Secondary Navigation ###### -->
        {% if module.get_children %}
            {% include "main/menu.html" %}
        {% endif %}
{% endblock %}

{% block navrightextra %}
    <ul class="nav">
        {% if user.is_staff %}
            <li><a href="/edit{{section.get_absolute_url}}">edit page</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
    <div id="content" class ="module-{{module.slug}}">
        {% if needs_submit %}
            {% if is_submitted %}
            {% else %}
                <form action="." method="post">
            {% endif %}
        {% endif %}
    
        {% for block in section.pageblock_set.all %}
            <div class="pageblock{% if block.css_extra %} {{block.css_extra}}{% endif %}">
                {% if block.label %}<h4>{{block.label}}</h4>{% endif %}
                {% render block %}
            </div>
        {% endfor %}
    
    
        {% if needs_submit %}
            {% if request.user.is_anonymous %}
            {% else %}
                {% if is_submitted %}
                    <form action="." method="post">
                        <input type="hidden" name="action" value="reset" />
                    </form>
                {% else %}
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </form>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block content-nav %}
    <div class="content-nav">
        {%  with section.get_previous as previous %}
            {%  if previous %}
                {%  ifnotequal previous.depth 2 %}
                    <a href="{{previous.get_absolute_url}}" id="previous" class="pager_button"><b>&larr;</b> {{previous.label}} </a>
                {% endifnotequal %}
            {% endif %}
        {% endwith %}

        {% with section.get_next as next %}
            {% if next %}
                {% if not next.is_root %}
                    {% if next_unlocked %}
                        <a href="{{ next.get_absolute_url}}" id="next" class="pager_button">{{next.label}} <b>&rarr;</b></a>
                    {% else %}
                        <div id="next" class="pager_button">{{next.label}} <b>&rarr;</b></div>
                        <input type="hidden" id="next_url" value="{{next.get_absolute_url}}" />
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endwith %}
        <div class="visualclear"></div>
    </div><!-- div id="content-nav" -->
{% endblock %}
